**/node_modules
**/dist
.git
.gitignore
**/.env
**/.env.*
**/*.log
**/logs
**/coverage
**/tests
**/*.test.*
**/*.spec.*
docs
data
**/screenshots
**/*.md
.agents
.codex
.aws
**/.vscode
**/.idea
**/.DS_Store
**/Thumbs.db
**/*.pem
**/*.key
client/*
!client/package.json
